@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
html,
body {
  scroll-behavior: smooth;
  background-color: #fdfdfd;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-display: swap;
}
